/* ---------------------------------------------- variables ------------------------------------------------- */
/* ---------------------------------------------- Global ------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* ---------------------------------------------- Home ------------------------------------------------- */
.home {
  position: relative;
}

nav .nav-container {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 10px;
}

nav .nav-container .left-nav, nav .nav-container .right-nav {
  width: 40%;
  font-size: 1rem;
  font-weight: 500;
}

nav .nav-container .left-nav a, nav .nav-container .right-nav a {
  color: #494949;
  padding: 2rem;
  text-decoration: none;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

nav .nav-container .left-nav a:hover, nav .nav-container .right-nav a:hover {
  color: #f8835e;
}

nav .nav-container .logo {
  width: 10%;
  text-align: center;
}

nav .nav-container .logo img {
  width: 40px;
}

nav .nav-container .left-nav {
  text-align: right;
}

nav .nav-container .right-nav {
  text-align: left;
}

.home .background {
  position: absolute;
  width: 100%;
  z-index: -1;
  overflow-x: hidden;
  padding-bottom: 40rem;
}

.home .background #hero-background-graphics {
  width: 104%;
}

.home .background #hero-side-graphics {
  position: absolute;
  top: 12%;
  right: -5%;
  width: 30%;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .hero-content {
  width: 45%;
  padding: 3rem;
}

.hero .hero-content h1 {
  color: white;
  font-size: 4.5rem;
  letter-spacing: 0.5rem;
  margin-bottom: 1rem;
}

.hero .hero-content h2 {
  color: white;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  font-weight: 400;
  margin-top: 0;
}

.hero .hero-content .register-btn {
  border: none;
  background: #fea35d;
  background: -webkit-gradient(left top, right top, color-stop(0%, #fea35d), color-stop(100%, #f6785c));
  background: -webkit-gradient(linear, left top, right top, from(#fea35d), to(#f6785c));
  background: linear-gradient(to right, #fea35d 0%, #f6785c 100%);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.09);
  color: white;
  padding: 1.5rem 2.5rem;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 1rem;
}

.hero .hero-content .register-btn:hover {
  background: #f8835e;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.hero .photo-frames {
  width: 55%;
  position: relative;
}

.hero .photo-frames img {
  position: absolute;
  top: 0;
}

.hero .photo-frames #photo1 {
  left: 0;
  z-index: 10;
  width: 16%;
}

.hero .photo-frames #photo2 {
  left: 10%;
  z-index: 20;
  width: 18%;
}

.hero .photo-frames #photo3 {
  left: 26%;
  z-index: 30;
  width: 20%;
}

.hero .photo-frames #photo4 {
  left: 38%;
  z-index: 25;
  width: 18%;
}

.hero .photo-frames #photo5 {
  left: 48%;
  z-index: 50;
  width: 20%;
}

/* ---------------------------------------------- Surprises ------------------------------------------------- */
.surprises {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18rem;
  position: relative;
}

.surprises .left-section {
  text-align: right;
  width: 50%;
}

.surprises .left-section img {
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.09);
  width: 45%;
  opacity: 0.8;
  margin-right: 15%;
}

.surprises .right-section {
  width: 50%;
  padding-right: 18%;
}

.surprises .right-section h1 {
  font-size: 2rem;
  font-weight: 400;
  color: #494949;
}

.surprises .right-section h2 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #494949;
  line-height: 2.4rem;
}

.surprises .right-section span {
  color: #f8835e;
}

.surprises .background-text {
  position: absolute;
  top: 21rem;
  left: 10rem;
}

.surprises .background-text h1 {
  font-size: 4rem;
  opacity: 0.05;
  font-weight: 500;
  letter-spacing: 1rem;
  z-index: -1;
}

/* ---------------------------------------------- How we work ------------------------------------------------- */
.how-we-work {
  margin-top: 14rem;
  padding: 0 10%;
  position: relative;
}

.how-we-work h1 {
  font-size: 3rem;
  color: #f8835e;
}

.how-we-work .process-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 3rem;
}

.how-we-work .process-container .step {
  width: 33.33%;
  padding: 2rem;
}

.how-we-work .process-container .step .text h3 {
  font-size: 1.4rem;
  font-weight: 400;
  color: #494949;
}

.how-we-work .background {
  position: absolute;
  top: -7rem;
  z-index: -10;
  width: 120%;
  -webkit-transform: translateX(-15rem);
          transform: translateX(-15rem);
}

.how-we-work .background img {
  width: 100%;
}

/* ---------------------------------------------- Volunteer ------------------------------------------------- */
.volunteer {
  margin-top: 14rem;
}

.volunteer h1 {
  font-size: 3rem;
  color: #737373;
  text-align: center;
}

.volunteer #volunteer-form label, .volunteer #volunteer-form input, .volunteer #volunteer-form textarea {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.volunteer #volunteer-form label {
  font-size: 1.2rem;
  color: #494949;
  margin-bottom: 0.5rem;
}

.volunteer #volunteer-form input, .volunteer #volunteer-form textarea {
  border: none;
  background: #fff6e7;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.volunteer #volunteer-form button {
  border: none;
  background: #ffad7a;
  background: -webkit-gradient(left top, right top, color-stop(0%, #ffad7a), color-stop(100%, #fedd8f));
  background: -webkit-gradient(linear, left top, right top, from(#ffad7a), to(#fedd8f));
  background: linear-gradient(to right, #ffad7a 0%, #fedd8f 100%);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.09);
  color: white;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  border-radius: 50px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  margin-top: 1rem;
}

.volunteer #volunteer-form button:hover {
  background: #ffad7a;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

/* ---------------------------------------------- Events ------------------------------------------------- */
.events {
  margin-top: 14rem;
  padding: 0 20%;
  position: relative;
}

.events h1 {
  font-size: 3rem;
  color: #f8835e;
  text-align: right;
}

.events .left-section img {
  width: 100%;
}

.events .right-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.events .right-section img {
  width: 49%;
  margin: 0.7rem 0;
}

.events .background {
  position: absolute;
  z-index: -10;
  top: 0;
  width: 100%;
  -webkit-transform: translateX(-25rem);
          transform: translateX(-25rem);
}

.events .background img {
  width: 120%;
}

/* ---------------------------------------------- Testimonials ------------------------------------------------- */
.testimonials {
  padding: 0 25%;
  position: relative;
  margin-top: 10rem;
}

.testimonials .card-wrapper {
  position: relative;
}

.testimonials .card-wrapper .card {
  background: white;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.09);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  margin-bottom: 2rem;
}

.testimonials .card-wrapper .card .pic {
  width: 20%;
  text-align: center;
}

.testimonials .card-wrapper .card .pic .round {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fabd9a;
  display: block;
  margin: 0 auto;
}

.testimonials .card-wrapper .card .pic .round.pink {
  background: #f6aecd;
}

.testimonials .card-wrapper .card .pic h4 {
  font-weight: 500;
  color: #494949;
}

.testimonials .card-wrapper .card .text {
  width: 80%;
  font-size: 1.2rem;
  color: #494949;
}

.testimonials .card-wrapper .background img {
  position: absolute;
  z-index: -10;
}

.testimonials .card-wrapper .background img.start-quote {
  top: -5rem;
  left: -5rem;
}

.testimonials .card-wrapper .background img.end-quote {
  bottom: -5rem;
  right: -5rem;
}

/* ---------------------------------------------- Register ------------------------------------------------- */
.register {
  margin-top: 14rem;
  padding: 2% 20%;
  background: #fed98e;
}

.register h1 {
  font-size: 3rem;
  color: #f8835e;
}

.register #registration-form label, .register #registration-form input, .register #registration-form textarea {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.register #registration-form label {
  font-size: 1.2rem;
  color: #494949;
  margin-bottom: 0.5rem;
}

.register #registration-form input, .register #registration-form textarea {
  border: none;
  background: #fff6e7;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.register #registration-form button {
  border: none;
  background: #fea35d;
  background: -webkit-gradient(left top, right top, color-stop(0%, #fea35d), color-stop(100%, #f6785c));
  background: -webkit-gradient(linear, left top, right top, from(#fea35d), to(#f6785c));
  background: linear-gradient(to right, #fea35d 0%, #f6785c 100%);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.09);
  color: white;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  border-radius: 50px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  margin-top: 1rem;
}

.register #registration-form button:hover {
  background: #ffad7a;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

/* ---------------------------------------------- Contact ------------------------------------------------- */
.contact {
  background: #494949;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5%;
  text-align: right;
}

.contact .left-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .left-section img {
  width: 2rem;
}

.contact .left-section a {
  color: white;
  margin-left: 1rem;
}

.contact .right-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .right-section h3 {
  color: white;
  font-size: 1.2rem;
  margin-right: 2rem;
}

.contact .right-section h4 {
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

/* ---------------------------------------------- Media queries ------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------- */
@media (max-width: 1373px) {
  .hero .hero-content h1 {
    font-size: 4rem;
  }
  .hero .hero-content h2 {
    font-size: 1.7rem;
  }
  .hero .hero-content .register-btn {
    padding: 1rem 2rem;
  }
}

@media (max-width: 1262px) {
  nav .nav-container .left-nav a, nav .nav-container .right-nav a {
    padding: 1rem;
  }
  .hero .hero-content h1 {
    font-size: 3rem;
  }
  .hero .hero-content h2 {
    font-size: 1.4rem;
  }
  .hero .hero-content .register-btn {
    padding: 1rem 2rem;
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=styles.css.map */